---
layout: default
---
%header#overview.jumbotron.subhead
  .row
    .span6
      %h1 
        %i.icon-group
        Community
      %p.lead We love contributors!
    .span6
      .well{:style => "padding: 25px 25px 15px 25px;"}
        %span{:style => "display: block; font-weight: bold; margin-bottom: 1em;"} Welcome to PerfCake community!
        %span{:style => "display: block;"} Please dive in wherever takes your fancy! We would like to make your contributions a piece of cake. 
        %a.pull-right.btn.btn-primary.btn-big{:href => "#contribution", :target => "_blank"}
          %i.icon-question-sign.icon-white
            How To Contribute &raquo;
        %div{:style => "clear:both"}
  .subnav
    %ul.nav.nav-pills
      %li
        %a{:href => "#welcome"} Welcome to Community
      %li
        %a{:href => "#contribution"} How to contribute

  .row
    .span12
      %section#welcome
        .page-header
          %h2 Welcome to Community
        %h3 
          %i.icon-bug
          Issue tracker
        %p
          The project tracks bugs, feature requests, and other issues through the Github issue tracking system.
        %p
          %a.btn.btn-primary.btn-big{:href => "https://github.com/PerfCake/PerfCake/wiki/Development-on-PerfCake", :target => "_blank"}
            %i.icon-info-sign.icon-white
              PerfCake Issue Tracker &raquo;
        %h3 
          %i.icon-comments
          Chat (IRC)
        %p
          We invite you to join us in the 
          %strong #perfcake 
          channel on 
          %strong irc.codehaus.org
          to chat about PerfCake.
        %h3 
          %i.icon-google-plus
          Google Group
        %p
          We also have an old-fashioned forum group at Google ;-)
        %p
          %a.btn.btn-primary.btn-big{:href => "https://groups.google.com/forum/#!forum/perfcake", :target => "_blank"}
            %i.icon-info-sign.icon-white
              PerfCake Google Group &raquo;
        %h3 
          %i.icon-github-alt
          Source Repository
        %p
          All the hawtio source code is managed using the distributed version system 
          %a{:href => "http://git-scm.org"} git
          and hosted at 
          %a.btn.btn-small{:href => "https://github.com/PerfCake/PerfCake"} PerfCake/PerfCake
          on Github.
        %p
          Both git and Github are awesome for collaboration! To make improvements or bug fixes to the PerfCake project, simply fork the project, commit your changes, and send a pull request.
      %section#contribution
        .page-header
          %h2 How to contribute
        %p 
          We love contributions! We really need your help to make 
          %a{:href => "http://www.perfcake.org"} PerfCake 
          even more a piece of a cake, so please join our community!
        %p 
          Many thanks to all of our 
          = succeed "!" do
            %a{:href => "https://github.com/PerfCake/PerfCake/graphs/contributors"} existing contributors 
          But we're greedy, we want more! PerfCake is great, but it can be better! :). We have lots of extensions, generators, senders, validators, reporters... that can be improved and we want more of them!
        %p Here's some notes to help you get started:
        
        %h3 Getting Started
        %ul
          %li 
            Make sure you have a 
            %a{:href => "https://github.com/signup/free"} GitHub account 
            as you'll need it to submit issues, comments or pull requests.
          %li 
            Got any ideas for how we can improve PerfCake? Please 
            %a{:href => "https://github.com/PerfCake/PerfCake/issues?state=open"} submit an issue 
            with your thoughts. Constructive criticism is always greatly appreciated!
          %li 
            Fancy submitting any
            = succeed "?" do 
              %a{:href => "http://perfcake.blogspot.com"} nice story of how you're using PerfCake
            A quick Youtube screencast would be even better or a blog post/article we can link to? Just 
            %a{:href => "https://github.com/PerfCake/PerfCake/issues?state=open"} submit an issue 
            (or fork and patch the 
            = succeed ")" do
              %a{:href => "https://github.com/PerfCake/Web"} website
            and we'll merge it into our website.
          %li 
            Search 
            %a{:href => "https://github.com/PerfCake/PerfCake/issues?state=open"} our issue tracker 
            and see if there's been any ideas or issues reported for what you had in mind; if so please join the conversation in the comments.
          %li 
            Submit any issues, feature requests or improvement ideas to 
            = succeed "." do
              %a{:href => "https://github.com/PerfCake/PerfCake/issues?state=open"} our issue tracker 
          %ul
            %li Clearly describe the issue including steps to reproduce when it is a bug.
            %li Make sure you fill in the earliest version that you know has the issue.

        %h3 
          Fancy hacking some code?
          .label.label-success enhancements
        %ul
          %li If you fancy working on some code, check out the these lists of issues:
          %ul
            %li 
              %a{:href => "https://github.com/PerfCake/PerfCake/issues?labels=enhancement&page=1&sort=updated&state=open"} enhancements 
              \- which are moderately easy to fix and tend to have links to which bits of the code to look at to fix at 
            %li 
              %a{:href => "https://github.com/PerfCake/PerfCake/issues?state=open"} all open issues 
              if you fancy being more adventurous.
            %li 
              %a{:href => "https://github.com/PerfCake/PerfCake/issues?labels=idea&page=1&sort=updated&state=open"} good ideas 
              if you're feeling like a ninja and fancy tackling our harder issues that tend to add really cool new features!
          %li 
            To make code changes, fork the 
            %a{:href => "https://github.com/PerfCake/PerfCake"} repository on GitHub
            then you can hack on the code. We love any contribution such as:
          %ul
            %li fixing typos
            %li improving the documentation or embedded help
            %li writing new test cases or improve existing ones
            %li adding new features

        %h3 Submitting changes to PerfCake
        %ul
          %li 
            Push your changes to your fork of the 
            = succeed "." do
              %a{:href => "https://github.com/PerfCake/PerfCake"} PerfCake repository
          %li Submit a pull request to the repository in the PerfCake organization.
          %li If your change references an existing issue then use “fixes #123” in the commit message (using the correct issue number).
          %li 
            See 
            %a.btn.btn-primary.btn-small{:href => "https://github.com/PerfCake/PerfCake/wiki/Development-on-PerfCake", :target => "_blank"}
              %i.icon-info-sign.icon-white
                Detailed information &raquo;
            on submiting changes to 
            = succeed "." do
              %a{:href => "http://www.perfcake.org"} PerfCake
        %h3 Additional Resources
        %ul
          %li
            %a{:href => "http://help.github.com/"} General GitHub documentation
          %li
            %a{:href => "https://help.github.com/articles/creating-a-pull-request"} GitHub create pull request documentation
          %li
            %a{:href => "#{site.base_url}/quickstart/#download"} Here is how to build the code
