---
layout: default
---
.row-fluid
  .col-lg-12
    .page-header.jumbo
      %h1 
        %i.fa.fa-download
        Download
      %p.lead Please feel free to choose a distribution most appropriate for you.
.row
  .col-lg-6
    %h3 
      %i.fa.fa-gear
      Binary Distribution
    %p
      This a 
      %strong ready to run
      distribution of PerfCake. All you need is an installation of 
      %a{:href => "http://www.oracle.com/technetwork/java/javase/downloads/"} Java SE 8
      or later.
    %p 
      This distribution format is the latest released version. It is based on the master branch in the 
      = succeed "." do
        %a{:href => "https://github.com/PerfCake/PerfCake"} source code repository on GitHub
    %p
      The binaries can be run on Linux and Windows platforms with 
      %a{ :href => "http://java.com/en/download/index.jsp" } Java SE 8
      installed (we test only with Oracle JDK), both x86 and x86_64 architectures.
    %p
      %a.btn.btn-primary.btn-big{ :href=>"#{site.base_url}/download/perfcake-#{site.version}-bin.tar.bz2" } 
        %i.fa.fa-download
        Download #{site.version} Binary Distribution (tar.bz2) &raquo; 
    %p
      %a.btn.btn-primary.btn-big{ :href=>"#{site.base_url}/download/perfcake-#{site.version}-bin.tar.gz" } 
        %i.fa.fa-download
        Download #{site.version} Binary Distribution (tar.gz) &raquo; 
    %p
      %a.btn.btn-primary.btn-big{ :href=>"#{site.base_url}/download/perfcake-#{site.version}-bin.zip" }
        %i.fa.fa-download
        Download #{site.version} Binary Distribution (zip) &raquo;
  .col-lg-6
    %h3 
      %i.fa.fa-keyboard
      Source Code Distribution
    %p
      This a distribution of the
      %strong master branch
      directly from our 
      = succeed "." do
        %a{:href => "https://github.com/PerfCake/PerfCake"} source code repository on GitHub
      This is recommended for advanced users.
    %p 
      You might be interested in how to 
      %a{ :href => "#{site.base_url}/quickstart" } compile and run
      this distribution.
    %p
      %a.btn.btn-primary.btn-big{ :href=>"#{site.base_url}/download/perfcake-#{site.version}-src.tar.bz2" } 
        %i.fa.fa-download
        Download #{site.version} Source Distribution (tar.bz2) &raquo; 
    %p
      %a.btn.btn-primary.btn-big{ :href=>"#{site.base_url}/download/perfcake-#{site.version}-src.tar.gz" } 
        %i.fa.fa-download
        Download #{site.version} Source Distribution (tar.gz) &raquo; 
    %p
      %a.btn.btn-primary.btn-big{ :href=>'https://github.com/PerfCake/PerfCake/archive/master.zip' } 
        %i.fa.fa-download
        Download the Source Code from GitHub (zip) &raquo; 
