---
layout: default
---
.row-fluid
  .span12
    %h1 
      %i.icon-download-alt
      Download
    %p.lead Please feel free to choose a distribution most appropriate for you.
    .alert.alert-error
      %i.icon-info-sign
      %strong Please note
      that you can also join our
      %a.btn.btn-small{:href => "#{site.base_url}/community"} Community
      and checkout the
      %a.btn.btn-small{:href => "https://github.com/PerfCake/PerfCake"} Source Code Repository
.row
  .span4
    %h3 
      %i.icon-gear
      Binary Distribution
    %p
      This a 
      %strong ready to run
      distribution of PerfCake. All you need is an installation of 
      %a{:href => "http://www.oracle.com/technetwork/java/javase/downloads/"} Java SE 7
      or later.
    %p 
      This distribution format is the latest released version. It is based on the master branch in the 
      = succeed "." do
        %a{:href => "https://github.com/PerfCake/PerfCake"} source code repository on GitHub
    %p
      The binaries can be run on Linux and Windows platforms with 
      %a{ :href => "http://java.com/en/download/index.jsp" } Java SE 7
      installed (we test only with Oracle JDK), both x86 and x86_64 architectures. MacOS users must compile from sources for now.
    %p
      %a.btn.btn-primary.btn-big{ :href=>"#{site.base_url}/download/perfcake-#{site.version}-bin.tar.bz2" } 
        %i.icon-download
        Download #{site.version} Binary Distribution (tar.bz2) &raquo; 
    %p
      %a.btn.btn-primary.btn-big{ :href=>"#{site.base_url}/download/perfcake-#{site.version}-bin.tar.gz" } 
        %i.icon-download
        Download #{site.version} Binary Distribution (tar.gz) &raquo; 
    %p
      %a.btn.btn-primary.btn-big{ :href=>"#{site.base_url}/download/perfcake-#{site.version}-bin.zip" }
        %i.icon-download
        Download #{site.version} Binary Distribution (zip) &raquo;
  .span4
    %h3 
      %i.icon-cogs
      Binary Distribution with Java SE installation
    %p
      This a 
      %strong ready to run
      distribution of PerfCake. You do not need any additional dependencies. We even included a Java SE installation for your comfort. The price for that is a slightly larger installation.
    %p 
      This distribution format is not ready yet and is 
      = succeed "." do
        %a{ :href => 'https://github.com/PerfCake/PerfCake/issues/41', :target => '_blank' } scheduled for Release 3.0
      Please check out later. We are sorry for the inconveniences. You could also try the source code download to the right.
    %p
      %a.btn.btn-primary.btn-big.disabled{ :href=>'#download' } 
        %i.icon-download
        Download Binary Distribution with JDK &raquo; 
  .span4
    %h3 
      %i.icon-keyboard
      Source Code Distribution
    %p
      This a distribution of the
      %strong master branch
      directly from our 
      = succeed "." do
        %a{:href => "https://github.com/PerfCake/PerfCake"} source code repository on GitHub
      This is recommended for advanced users.
    %p 
      You might be interested in how to 
      %a{ :href => "#{site.base_url}/quickstart" } compile and run
      this distribution.
    %p
      %a.btn.btn-primary.btn-big{ :href=>"#{site.base_url}/download/perfcake-#{site.version}-src.tar.bz2" } 
        %i.icon-download
        Download #{site.version} Source Distribution (tar.bz2) &raquo; 
    %p
      %a.btn.btn-primary.btn-big{ :href=>"#{site.base_url}/download/perfcake-#{site.version}-src.tar.gz" } 
        %i.icon-download
        Download #{site.version} Source Distribution (tar.gz) &raquo; 
    %p
      %a.btn.btn-primary.btn-big{ :href=>'https://github.com/PerfCake/PerfCake/archive/master.zip' } 
        %i.icon-download
        Download the Source Code from GitHub (zip) &raquo; 
