---
layout: default
---
%header#overview.jumbotron.subhead
  .row
    .span6
      %span{:style => "float: left; margin: 0 15px 10px 0;"}
        %a.header{:href => "#{site.base_url}"}
          %img{:src => "#{site.base_url}/images/logo.mid.png"}/
      %h1 
        %a.header{:href => "#{site.base_url}"} PerfCake
      %p.lead A Lightweight Performance Testing Framework.
    .span6
      .well{:style => "padding: 25px 25px 15px 25px;"}
        %span{:style => "display: block; font-weight: bold; margin-bottom: 1em;"} Time is money and performance matters!
        %span{:style => "display: block;"} Do not let your customers waiting and know where the pain points of your application is. PerfCake is not only a performance testing framework. It is also a load generator and a sophisticated response validator. 
        %a.pull-right.btn.btn-primary.btn-big{:href => "#about", :target => "_blank"}
          %i.icon-info-sign.icon-white
            Learn More &raquo;
        %div{:style => "clear:both"}
 
%section#perfcake
  .page-header
    %h1 This is PerfCake!
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
.row
  .span6
    %section#about
      %h2 About
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
      %p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  .span6
    %section#goal
      %h2 Goal
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
      %p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

.row
  .span4
    %section#learn 
      %h2#learn Learn
      %ul
        %li 
          %a{:href => "#{site.base_url}/quickstart"} Getting started!
        %li
          %a{:href => "#{site.base_url}/guide"} Guides
  .span4
    %section#involve 
      %h2 Get Involved
      %ul
        %li 
          %a{:href => "#{site.base_url}/community"} Community
        %li
          %a{:href => "https://github.com/PerfCake/PerfCake/wiki/Development-on-PerfCake", :target => "_blank"} Contributing Guidelines
        %li 
          %a{:href => "https://github.com/PerfCake/PerfCake/issues", :target => "_blank"} Issue Tracker
        %li 
          %a{:href => "https://github.com/PerfCake/PerfCake", :target => "_blank"} Source Code
  .span4
    %section#informed 
      %h2 Stay Informed
      %ul
        %li 
          %a{:href => "https://twitter.com/#!/search/#perfcaketool", :alt => "Browse the #perfcaketool on Twitter", :target => "_blank"} Watch us on Twitter
        %li
          %a{:href => "http://perfcake.blogspot.com", :alt => "Read the blog", :target => "_blank"} Read our Blog

