---
layout: default
---
%header#overview.jumbo
  .row
    .col-lg-6
      %h1
        %i.fa.fa-book
        Developers' Guide
      %p.lead Developers' guide is intended for those who would like to develop extensions on PerfCake, be it message senders, generators, reporters, validator or anything else.
    .col-lg-6
      .well{:style => "padding: 25px 25px 15px 25px;"}
        %span{:style => "display: block; font-weight: bold; margin-bottom: 1em;"} Did you already try the other guides?
        %span{:style => "display: block;"}
          %ul
            %li
              %i.fa.fa-clock-o
              %a{:href => "#{site.base_url}/quickstart"} Quickstart Example
              \- run your first benchmark in 5 minutes
            %li
              %a{:href => "#{site.base_url}/guide/user"} Users' guide
        %div{:style => "clear:both"}
  .row
    .col-lg-12
      %h2
        %i.fa.fa-download
        Developers' guide downloads
      %p Following are the links to the documentation of the latest release.
      %p
        %a.btn.btn-primary.btn-big{ :href=>"https://github.com/PerfCake/Docs/releases/download/v#{site.version}/perfcake-developers-guide.pdf"}
          %i.fa.fa-download
          Download Developers' Guide #{site.version} (PDF) &raquo;
      %p
        %a.btn.btn-primary.btn-big{ :href=>"#{site.base_url}/docs/developers-guide/perfcake-developers-guide.html", :target => "_blank"}
          %i.fa.fa-book
          Open Developers' Guide #{site.version} (HTML) &raquo;
  .row
    .col-lg-12
      %p
        Looking for a documentation for an older version? You can checkout the
        %a{:href => 'https://github.com/PerfCake/Docs'} source code repository
        on GitHub and build it on your own. Old documentation is in branches called
        = succeed "." do
          %em release-${version}
      %p
        As a developer, you might be also interested in our
      %p
        %a.btn.btn-primary.btn-big{:href => "#{site.base_url}/community"}
          %i.fa.fa-group
          Community &raquo;
