---
layout: default
---
%header#overview.jumbotron.subhead
  .row
    .span6
      %h1 
        %i.icon-book
        Developers' Guide
      %p.lead Developers' guide is indented for those who would like to develop extensions on PerfCake be it message senders, generators, reporters, validator or anything else.
    .span6
      .well{:style => "padding: 25px 25px 15px 25px;"}
        %span{:style => "display: block; font-weight: bold; margin-bottom: 1em;"} Did you already try the other guides?
        %span{:style => "display: block;"}
          %ul
            %li
              %i.icon-time
              %a{:href => "#{site.base_url}/quickstart"} Quickstart Example 
              \- run your first benchmark in 5 minutes
            %li
              %a{:href => "#{site.base_url}/guide/user"} Users' guide
            %li
              %a{:href => "#{site.base_url}/javadoc"} JavaDoc
        %div{:style => "clear:both"}
  .row
    .span12
      %h2 
        %i.icon-download
        Developers' guide downloads
      %p Following are the links to the documentation of the latest release.
      %p
        %a.btn.btn-primary.btn-big{ :href=>"#{site.base_url}/docs/perfcake-developers-guide.pdf"}
          %i.icon-download
          Download Developers' Guide #{site.version} (PDF) &raquo;
      %p
        %a.btn.btn-primary.btn-big{ :href=>"#{site.base_url}/docs/developers-guide/perfcake-developers-guide.html", :target => "_blank"}
          %i.icon-book
          Open Developers' Guide #{site.version} (HTML) &raquo;
      %p 
        Here are the links to the nightly builds of the documentation. These correspond to the functionality of the unreleased developers branch of PerfCake.
        However, the this documentation might have more details on topics related to the previous releases as well. This is mainly caused by the fact that the 
        guides are not yet complete in some sections.
      %p
        %a.btn.btn-primary.btn-big{ :href=>"#{site.base_url}/docs-devel/perfcake-developers-guide.pdf"}
          %i.icon-download
          Download Developers' Guide 
          %em NIGHTLY Build
          (PDF) &raquo;
      %p
        %a.btn.btn-primary.btn-big{ :href=>"#{site.base_url}/docs-devel/developers-guide/perfcake-developers-guide.html", :target => "_blank"}
          %i.icon-book
          Open Developers' Guide 
          %em NIGHTLY Build
          (HTML) &raquo;
      %p
        Looking for a documentation for an older version? You can checkout the
        %a{:href => 'https://github.com/PerfCake/Docs'} source code repository
        on GitHub and build it on your own. Old documentation is in branches called 
        = succeed "." do
          %em release-${version}
      %p
        As a developer, you might be also interested in our 
        %a.btn.btn-primary.btn-big{:href => "#{site.base_url}/community"} 
          %i.icon-group
          Community &raquo;
