---
layout: default
---
%header#overview.jumbotron.subhead
  .row
    .span6
      %h1 
        %i.icon-book
        Getting Started Guide
      %p.lead Getting started guide is very well suited for complete beginners. It can learn you PerfCake basics in a very short time. It leads you to the depths of PerfCake by examples.
    .span6
      .well{:style => "padding: 25px 25px 15px 25px;"}
        %span{:style => "display: block; font-weight: bold; margin-bottom: 1em;"} Did you already try the other guides?
        %span{:style => "display: block;"}
          %ul
            %li
              %i.icon-time
              %a{:href => "#{site.base_url}/quickstart"} Quickstart Example 
              \- run your first benchmark in 5 minutes
            -# %li
            -#   %a{:href => "#{site.base_url}/guide/started"} Getting started guide
            %li
              %a{:href => "#{site.base_url}/guide/user"} Users' guide
            %li
              %a{:href => "#{site.base_url}/guide/devel"} Developers' guide
            %li
              %a{:href => "#{site.base_url}/javadoc"} JavaDoc
        %div{:style => "clear:both"}
  .row
    .span12
      .page-header
        %h2 
          %i.icon-download
          Getting started guide downloads
        %p
          The downloads will be available soon. In the meantime, you can checkout
          = succeed "." do
            %a{:href => "https://github.com/PerfCake/PerfCake"} documentation source code repository on GitHub
        %p
          You can also try the 
          = succeed "." do
            %a{:href => "#{site.base_url}/quickstart"} quickstart example
        .alert.alert-error
          %i.icon-info-sign
          %strong Downloads
          are coming soon!
