---
layout: default
---
%header#overview.jumbo
  .row
    .col-lg-6
      %h1 
        %i.fa.fa-book
        Users' Guide
      %p.lead Users' guide is a very detailed description of PerfCake for anybody who would like to use it for performance testing, generating load, and or application responses validation.
    .col-lg-6
      .well{:style => "padding: 25px 25px 15px 25px;"}
        %span{:style => "display: block; font-weight: bold; margin-bottom: 1em;"} Did you already try the other guides?
        %span{:style => "display: block;"}
          %ul
            %li
              %i.fa.fa-clock-o
              %a{:href => "#{site.base_url}/quickstart"} Quickstart Example 
              \- run your first benchmark in 5 minutes
            %li
              %a{:href => "#{site.base_url}/guide/devel"} Developers' guide
            %li
              %a{:href => "#{site.base_url}/javadoc"} JavaDoc
        %div{:style => "clear:both"}
  .row
    .col-lg-12
      %h2
        %i.fa.fa-download
        Users' guide downloads
  .row
    .col-lg-6
      %p Following are the links to the documentation of the latest release.
      %p
        %a.btn.btn-primary.btn-big{ :href=>"#{site.base_url}/docs/perfcake-user-guide.pdf"}
          %i.fa.fa-download
          Download Users' Guide #{site.version} (PDF) &raquo;
      %p
        %a.btn.btn-primary.btn-big{ :href=>"#{site.base_url}/docs/user-guide/perfcake-user-guide.html", :target => "_blank"}
          %i.fa.fa-book
          Open Users' Guide #{site.version} (HTML) &raquo;
    .col-lg-6
      %p 
        The following links to the nightly builds of the documentation correspond to the functionality of the unreleased developers branch of PerfCake.
        However, the this documentation might have more details on topics related to the previous releases as well. This is mainly caused by the fact that the 
        guides are not yet complete in some sections.
      %p
        %a.btn.btn-primary.btn-big{ :href=>"#{site.base_url}/docs-devel/perfcake-user-guide.pdf"}
          %i.fa.fa-download
          Download Users' Guide 
          %em NIGHTLY Build
          (PDF) &raquo;
      %p
        %a.btn.btn-primary.btn-big{ :href=>"#{site.base_url}/docs-devel/user-guide/perfcake-user-guide.html", :target => "_blank"}
          %i.fa.fa-book
          Open Users' Guide 
          %em NIGHTLY Build
          (HTML) &raquo;
  .row
    .col-lg-12
      %p
        Looking for a documentation for an older version? You can checkout the
        %a{:href => 'https://github.com/PerfCake/Docs'} source code repository
        on GitHub and build it on your own.