---
layout: default
---
%header#overview.jumbo
  .row
    .col-lg-6
      %h1
        %i.fa.fa-book
        Users' Guide
      %p.lead Users' guide is a very detailed description of PerfCake for anybody who would like to use it for performance testing, generating load, and or application responses validation.
    .col-lg-6
      .well{:style => "padding: 25px 25px 15px 25px;"}
        %span{:style => "display: block; font-weight: bold; margin-bottom: 1em;"} Did you already try the other guides?
        %span{:style => "display: block;"}
          %ul
            %li
              %i.fa.fa-clock-o
              %a{:href => "#{site.base_url}/quickstart"} Quickstart Example
              \- run your first benchmark in 5 minutes
            %li
              %a{:href => "#{site.base_url}/guide/devel"} Developers' guide
        %div{:style => "clear:both"}
  .row
    .col-lg-12
      %h2
        %i.fa.fa-download
        Users' guide downloads
      %p Following are the links to the documentation of the latest release.
      %p
        %a.btn.btn-primary.btn-big{ :href=>"https://github.com/PerfCake/Docs/releases/download/v#{site.version}/perfcake-user-guide.pdf"}
          %i.fa.fa-download
          Download Users' Guide #{site.version} (PDF) &raquo;
      %p
        %a.btn.btn-primary.btn-big{ :href=>"#{site.base_url}/docs/user-guide/perfcake-user-guide.html", :target => "_blank"}
          %i.fa.fa-book
          Open Users' Guide #{site.version} (HTML) &raquo;
  .row
    .col-lg-12
      %p
        Looking for a documentation for an older version? You can checkout the
        %a{:href => 'https://github.com/PerfCake/Docs'} source code repository
        on GitHub and build it on your own.
