!!!5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title #{site.title}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "A Lightweight Performance Testing Framework PerfCake", :name => "description"}/
    %meta{:content => "Apache License 2.0 - Copyright since 2010 by the original author or authors", :name => "copyright"}/
    /[if lt IE 9]
      %script{:src => 'https://html5shim.googlecode.com/svn/trunk/html5.js'}
    %link{:href => "#{site.base_url}/stylesheets/bootstrap.min.css", :rel => "stylesheet", :type=>'text/css'}/
    %link{:href => "#{site.base_url}/stylesheets/bootstrap-responsive.min.css", :rel => "stylesheet", :type=>'text/css'}/
    %link{:href => "#{site.base_url}/stylesheets/custom.css", :rel => "stylesheet", :type=>'text/css'}/
    %link{:href => "#{site.base_url}/stylesheets/font-awesome.min.css", :rel => "stylesheet", :type=>'text/css'}/
    %link{:href => "#{site.base_url}/stylesheets/syntax-hl.css", :rel => "stylesheet", :type=>'text/css'}/
    %link{:href => "#{site.base_url}/stylesheets/flipclock.min.css", :rel => "stylesheet", :type=>'text/css'}/
    %link{:href => "#{site.base_url}/images/logo-revert.svg", :rel => "shortcut icon"}/
    %link{:href => "#{site.base_url}/images/logo-revert.svg", :rel => "icon"}/
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42279823-1', 'perfcake.org');
      ga('send', 'pageview');
  %body#home
    /
      Navbar
      \==================================================
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %a.navbar-brand{:href => "#{site.base_url}/"} PerfCake
          %button.navbar-toggle{"type" => "button", "data-target" => "#navbar-main", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        .navbar-collapse.collapse#navbar-main
          %ul.nav.navbar-nav
            %li
              %a{:href => "#{site.base_url}/community", :rel => "tooltip", :title => "Learn about the community, how to contribute, etc." } Community
            %li
              %a{:href => "#{site.base_url}/quickstart", :rel => "tooltip", :title => "Run your first benchmark in 5 minutes" } Get started!
            %li.dropdown
              %a.dropdown-toggle#guides{"data-toggle" => "dropdown", :href => "#"}
                Documentation
                %span.caret
              %ul.dropdown-menu{"aria-labelledby" => "guides"}
                %li
                  %a{:href => "#{site.base_url}/guide/user"} Users' guide
                %li
                  %a{:href => "#{site.base_url}/guide/devel"} Developers' guide
            %li
              %a{:href => "#{site.base_url}/download", :rel => "tooltip", :title => "Download binary distributions or source code" } Download
            %li
              %form.navbar-search.pull-left{:action => "https://www.google.com/search", :target => "_blank"}
                %input{:type => "hidden", :name => "sitesearch", :value => "perfcake.org"}
                %input.search-query{:name => "q", :placeholder => "Search", :type => "text"}/
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href => "#{site.base_url}/support", :rel => "tooltip", :title => "Get some help improving performance of your applications"}
                %strong Get support!
                %i.fa.fa-share

    %div.container
      ~ content

      /
        Footer
        \==================================================
      %hr/
      %footer
        .row
          .col-lg-12
            %ul.list-unstyled
              %li.pull-right
                %a{:href => "#top"} Back to top
              %li
                %i.fa.fa-quote-left
                  %a{:href => "http://perfcake.blogspot.com", :target => "_blank"} Blog
              %li
                %i.fa.fa-rss
                  %a{:href => "http://perfcake.blogspot.com/feeds/posts/default", :target => "_blank"} Atom
              %li
                %i.fa.fa-twitter
                  %a{:href => "https://twitter.com/perfcaketool", :target => "_blank"} Twitter
              %li
                %i.fa.fa-github
                  %a{:href => "https://github.com/PerfCake", :target => "_blank"} GitHub
              %li
                %i.fa.fa-slack
                  %a{:href => "https://perfcake.slack.com/", :target => "_blank"} Slack
              %li
                %i.fa.fa-google-plus
                  %a{:href => "https://groups.google.com/forum/#!forum/perfcake", :target => "_blank"} Google Group
              %li
                %i.fa.fa-google-plus
                  %a{:href => "https://plus.google.com/+PerfcakeOrg", :rel => 'publisher', :target => "_blank"} Google+
              %li
                %i.fa.fa-info
                  %a{:href => "#{site.base_url}/javadoc"} API
              %li
                %i.fa.fa-bar-chart
                  %a{:href => "http://www.seethestats.com/site/perfcake.org", :target => "_blank"} See The Stats
            %p.pull-right
              %a{:href => 'http://www.ej-technologies.com/products/jprofiler/overview.html', :target => '_blank', :style => 'text-decoration: none'}
                %img{:src => "#{site.base_url}/images/jprofiler_medium.png", :title => 'Java Profiler', :alt => "Java Profiler"}
                &nbsp;
              %a{:href => 'http://www.oxygenxml.com', :target => '_blank', :style => 'text-decoration: none'}
                %img{:src => "#{site.base_url}/images/oxygen190x62.png", :alt => "Oxygen XML Editor", :title => 'Oxygen XML Editor'}
            %p
              Code licensed under the
              = succeed "." do
                %a{:href => "http://www.apache.org/licenses/LICENSE-2.0"} Apache License v2.0
              %br/
              Website and docs licensed under
              = succeed "." do
                %a{:href => "http://creativecommons.org/licenses/by/3.0/"} CC BY 3.0
              %br/
              %i.fa.fa-fire
              &nbsp;
              Based on
              = succeed "." do
                %a{:href => "http://twitter.github.com/bootstrap/"} Bootstrap
              Baked by
              = succeed "." do
                %a{:href => "http://awestruct.org/"} Awestruct
              %br/
              %i.fa.fa-font
              &nbsp;
              Web fonts from
              = succeed "." do
                %a{:href => "http://www.google.com/webfonts"} Google
              Icons from
              = succeed "." do
                %a{:href => "http://fortawesome.github.io/Font-Awesome"} Font Awesome
              %br/
              %i.fa.fa-pencil
              &nbsp;
              Design by
              = succeed "." do
                %a{:href => "http://thomaspark.me/"} Thomas Park
              %br/
              &copy; Copyright PerfCake 2010-#{Date.today.year}
              %br/
              We don't give away any free
              %img{:src => "#{site.base_url}/images/cookies-icon-16.png", :alt => 'cookies', :title => 'cookies'}
              &nbsp; It's just
              %a{:href => 'https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage#analyticsjs', :target => '_blank'} Google Analytics
              who stores two of them in your browser.

    %script{:type=>'text/javascript', :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    %script{:type=>'text/javascript', :src => "#{site.base_url}/javascripts/jquery.smooth-scroll.min.js"}
    %script{:type=>'text/javascript', :src => "#{site.base_url}/javascripts/bootstrap.min.js"}
